<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="footer.css">
    <title>Document</title>
</head>

<body>

    <div class="footer_bottom___2ATVd">
        <div class="row">
            <div class="col-l-24 col-s-12 no-gutters" data-component="content/ExternalLinks" data-linkscontext="footer">
                <div class="footer_content___fikLK">
                    <div>
                        <div class="contentasset" data-contentasset-id="footer-eCom" data-contentasset="footer-eCom">
                            <style>
                                /*.badge.new
        {  display: none;  }*/

                                /*.badge.sale
        {  display: none;  }*/
                            </style>
                            <div class="content-wrapper">
                                <div>
                                    <ul>
                                        <li>
                                            <h5>TRENDING</h5>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li><a href="/us/black_friday"
                                                manual_cm_sp="footer-_-trending-_-black friday">Black Friday</a></li>
                                        <li><a href="/us/cyber_monday"
                                                manual_cm_sp="footer-_-trending-_-cyber monday">Cyber Monday</a></li>
                                        <li><a href="/us/casual-shoes"
                                                manual_cm_sp="footer-_-trending-_-casual shoes">Casual Shoes</a></li>
                                        <li><a href="/us/slip_on-shoes"
                                                manual_cm_sp="footer-_-trending-_-slip on shoes">Slip On Shoes</a></li>
                                        <li><a href="/us/camo-apparel"
                                                manual_cm_sp="footer-_-trending-_-camo clothing">Camo Clothing</a></li>
                                        <li><a href="/us/burgundy-shoes"
                                                manual_cm_sp="footer-_-trending-_-burgundy shoes">Burgundy Shoes</a>
                                        </li>
                                        <li><a href="/us/leather_upper-shoes"
                                                manual_cm_sp="footer-_-trending-_-leather sneakers">Leather Sneakers</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <h5><a href="http://www.adidas.com/us/help" rel="nofollow" target="_blank"
                                                manual_cm_sp="footer-_-customer support-_-customer support">CUSTOMER
                                                SUPPORT</a></h5>
                                        <li><a href="/us/help" manual_cm_sp="footer-_-customer support-_-get help">Get
                                                Help</a></li>
                                        <li><a href="/us/order-tracker"
                                                manual_cm_sp="footer-_-customer support-_-track order">Track Order</a>
                                        </li>
                                        <li><a href="/us/help?hcid=HCID_RETURN_REFUND"
                                                manual_cm_sp="footer-_-customer support-_-returns &amp; refunds">Returns
                                                &amp; Refunds</a></li>
                                        <li><a href="/us/help/size_charts"
                                                manual_cm_sp="footer-_-customer support-_-sizing">Sizing</a></li>
                                        <li><a href="/us/promotions"
                                                manual_cm_sp="footer-_-customer support-_-promotions">Promotions</a>
                                        </li>
                                        <li><a href="/us/how-to-clean-shoes"
                                                manual_cm_sp="footer-_-customer support-_-how to clean">How to Clean</a>
                                        </li>
                                        <li><a href="/us/storefinder"
                                                manual_cm_sp="footer-_-customer support-_-store locator">Store
                                                Locator</a></li>
                                        <li><a href="/us/where-can-i-find-a-site-map.html"
                                                manual_cm_sp="footer-_-customer support-_-site map">Site Map</a></li>
                                        <li>&nbsp;</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <h5><a href="http://www.adidas-group.com/en/" rel="nofollow" target="_blank"
                                                    manual_cm_sp="footer-_-company info-_-company info">COMPANY INFO</a>
                                            </h5>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li><a href="http://www.adidas-group.com/en/group/profile/" rel="nofollow"
                                                target="_blank" manual_cm_sp="footer-_-company info-_-about us">About
                                                Us</a></li>
                                        <li><a href="http://careers.adidas-group.com/?brand=adidas" rel="nofollow"
                                                target="_blank"
                                                manual_cm_sp="footer-_-company info-_-careers">Careers</a></li>
                                        <li><a href="http://www.adidas-group.com/en/media/media-contact/" rel="nofollow"
                                                target="_blank" manual_cm_sp="footer-_-company info-_-press">Press</a>
                                        </li>
                                        <li><a href="/us/help?haid=what-is-our-affiliate-program" rel="nofollow"
                                                target="_blank"
                                                manual_cm_sp="footer-_-company info-_-affiliates">Affiliates</a></li>
                                        <li><a href="/us/discount-programs"
                                                manual_cm_sp="footer-_-company info-_-military discount">Military
                                                Discount</a></li>
                                        <li><a href="/us/students"
                                                manual_cm_sp="footer-_-company info-_-student discount">Student
                                                Discount</a></li>
                                        <li><a href="/us/mobileapps"
                                                manual_cm_sp="footer-_-company info-_-mobile apps">Mobile Apps</a></li>
                                        <li><a href="/us/creatorsclub"
                                                manual_cm_sp="footer-_-company info-_-creators club">Creators Club</a>
                                        </li>
                                        <li><a href="/us/blog"
                                                manual_cm_sp="footer-_-company info-_-adidas stories">adidas Stories</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <h5>PARTNER SITES</h5>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li><a href="http://www.adidasoutdoor.com/" target="_blank"
                                                manual_cm_sp="footer-_-partner sitesprivacy &amp; terms-_-adidas outdoor">adidas
                                                Outdoor</a></li>
                                        <li><a href="http://www.miteam.adidas.us/" target="_blank"
                                                manual_cm_sp="footer-_-partner sitesprivacy &amp; terms-_-miteam">miTeam</a>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li>
                                            <h5>PRIVACY &amp; TERMS</h5>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li><a href="/us/help/what-is-the-privacy-policy.html"
                                                manual_cm_sp="footer-_-partner sitesprivacy &amp; terms-_-privacy &amp; security">Privacy
                                                &amp; Security</a></li>
                                        <li><a href="/us/help?haid=what-is-the-adidas---runtastic-privacy-statement"
                                                manual_cm_sp="footer-_-partner sitesprivacy &amp; terms-_-adidas - runtastic privacy statement">adidas
                                                - Runtastic Privacy Statement</a></li>
                                        <li><a href="/us/help/what-are-the-terms-and-conditions.html" rel="nofollow"
                                                manual_cm_sp="footer-_-partner sitesprivacy &amp; terms-_-terms and conditions">Terms
                                                and Conditions</a></li>
                                        <li><a href="https://www.adidas-group.com/media/filer_public/3c/14/3c145fe8-e777-4696-aa51-4ef49731fbaa/adidas_policy_on_modern_slavery__2017.pdf"
                                                manual_cm_sp="footer-_-partner sitesprivacy &amp; terms-_-policy on human trafficking">Policy
                                                on Human Trafficking</a></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <h5><a href="/us/giftcards"
                                                    manual_cm_sp="footer-_-gift cards-_-gift cards">GIFT CARDS</a></h5>
                                        </li>
                                        <li>&nbsp;</li>
                                        <li><a href="https://wbiprod.storedvalue.com/WBI/lookupservlet?language=en&amp;host=adidas.com"
                                                manual_cm_sp="footer-_-gift cards-_-check balance">Check Balance</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div>
                                    <p style="color:white;">For assistance, please contact us at (800) 982-9337</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_copy___1Wj9l">
                    <div class="footer_copy_inner___g38B-">
                        <div class="footer_country_selector___3_c3o"><a class="country_selector_text___3ei9P"
                                href="/us/location-selector.html"><img
                                    src="https://adl-foundation.adidas.com/prod/v19.0.0/assets/flags/us.svg"
                                    alt="us flag" title="us flag" aria-label="us flag"
                                    class="country_selector_flag___3p7ob"><span>USA</span></a></div>
                        <div class="footer_links___aCcL_">
                            <div id="__glass-footer__dw_footer_content" class="inline_link_list___3YamB">
                                <div class="contentasset" data-contentasset-id="footer-eCom"
                                    data-contentasset="footer-eCom"></div>
                                <ol class="copy">
                                    <li>
                                        <div id="teconsent" style="display: none;"></div><span
                                            style="padding-right: 21px;">|</span>
                                    </li>
                                    <li><a href="/us/help/what-is-the-privacy-policy.html" rel="nofollow">Privacy
                                            Policy</a></li>
                                    <li><span style="padding-right: 21px;">|</span></li>
                                    <li><a href="/us/help/what-are-the-terms-and-conditions.html" rel="nofollow">Terms
                                            and Conditions</a></li>
                                    <li><span style="padding-right: 21px;">|</span></li>
                                    <li>
                                        <p>© 2019 adidas America Inc.</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>