@model IEnumerable<Project_SEM2_HNDShop.DTO.ProductDto>

<div class="row text-center">
    @foreach (var item in Model)
    {
         <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">@item.subBrand.SubBrandName</p>
                <h5 class="card-title">@item.product.ProName</h5>
                <p class="card-text">@item.product.SellPrice</p>
            </div>
            @*<div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>*@
        </div>
         </div>
    }
</div>