@model Project_SEM2_HNDShop.Models.User
<form method="post">

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" asp-for="UserPassword" class="form-control" placeholder="Password">
        <span asp-validation-for="UserPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" placeholder="Enter Last Name">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" asp-for="Phone" placeholder="Enter Phone" onblur="myFun(this)">
        <span id="catching" asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" asp-for="Address" placeholder="Enter Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    function myFun(Phone) {
        document.getElementById("catching").innerHTML = "khong dc de trong";
    }
</script>
