<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.row{
    display: flex;
}
</style>

<body>

    <div class="container">
        <h1>Your Bag</h1>
        <h3>Total : <span>3</span> <span>Item</span></h3>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="col-12 cartitem">
                    <div class=">
                        <div class="col-4">
                            <img src="" alt="">
                        </div>
                        <div class="col-8">
                            <div class="productname">
                                aaaaaaaa
                            </div>
                            <div class="size">
                                Size : 32
                            </div>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>